//Fonts
$font-secondary: "DM Sans", sans-serif;
$font-primary: "Playfair Display", serif;

//Color
$color-title: #2c2f24;
$color-neutral: #dbdfd0;

$color-dark-red: #ad343e;
$color-white: #ffffff;
$color-black: #182226;
$color-bg-neutral: #f9f9f7;

//Text
h1 {
  font: 400 100px/96px $font-primary;
  color: $color-title;
}
h2 {
  font: 400 55px/60.5px $font-primary;
  color: $color-title;
}

h4 {
  font: 400 32px/44px $font-primary;
  color: $color-title;
}

h5 {
  font: 700 20px/26px $font-secondary;
  color: $color-title;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/24px $font-secondary;
  color: #414536;
}

.container {
  max-width: 1296px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  @media (max-width: 1449.98px) {
    max-width: 1200px;
  }
  @media (max-width: 1193.98px) {
    max-width: 1200px;
  }

  @media (max-width: 991.98px) {
    max-width: 970px;
  }

  @media (max-width: 767.98px) {
    max-width: 740px;
  }

  @media (max-width: 479.98px) {
    max-width: none;
  }
}

.btn {
  padding: 20px 32px;
  font: 700 16px/24px $font-secondary;
  color: $color-white;
  background-color: $color-dark-red;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &__outline {
    font: 700 16px/24px $font-secondary;
    color: $color-black;
    background-color: transparent;
    border: 1px solid $color-black;
  }
}

.header {
  background-color: $color-white;

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu {
  display: flex;
  gap: 30px;

  &__item {
    display: flex;
    position: relative;
  }
  &__item-link {
    font: 400 16px/24px $font-secondary;
    color: $color-black;
    display: flex;
    position: relative;
    transition: 0.5s color;
    text-decoration: none;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -3px;
      background: #131418;
      height: 1px;
      width: 100%;
      transform: scale(0);
      transition: 0.5s transform;
      // Comment if you need border animation
      display: none;
    }
    &:hover {
      color: #131418;
      &:after {
        transform: scale(1);
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    position: fixed;
    background: $color-neutral;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
  border: none;
  @media screen and (max-width: 991.98px) {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;

    &.active {
      &:before {
        background: $color-black;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $color-black;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color-black;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $color-black;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }
}

#progressBar {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  width: 0;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
}
.hero {
  background: url(/images/hero-bg.jpg) center / cover no-repeat;
  height: 800px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 650px;
    height: 100%;
  }
  &__descr {
    padding: 30px 0 40px;
    max-width: 418px;
  }
  &__btns {
    display: flex;
    gap: 16px;
  }
}
.products {
  margin: 100px auto;
  &__top {
    text-align: center;

    margin-bottom: 88px;
    @media (max-width: 991.98px) {
      margin-bottom: 30px;
    }
  }
  &__descr {
    padding: 20px 0 50px;
    max-width: 557px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 991.98px) {
      padding: 20px 0 30px;
    }
  }
  .tabheaders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .tabheader {
    padding: 12px 38px;
    font: 700 16px/24px $font-secondary;
    border: 1px solid $color-neutral;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  .tabs-container {
    display: grid;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @media (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 479.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .tabcontent {
    max-width: 360px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: 1px solid $color-neutral;
    border-radius: 12px;
    @media (max-width: 479.98px) {
      max-width: 100%;
    }
    &__container {
      padding: 30px;
      @media (max-width: 991.98px) {
        padding: 12px;
      }
    }
    &__img {
      max-width: 100%;
      width: 100%;
    }
    &__price {
      font: 700 20px/24px $font-secondary;
      color: $color-dark-red;
    }
    &__title {
      padding: 15px 0;
    }
  }
  .active--tabheader {
    background-color: $color-dark-red;
    color: $color-white;
  }
}

// Promotion
.promotion {
  background-color: $color-bg-neutral;
  margin: 100px auto;
  padding: 120px 0;
  text-align: center;
  &__title {
    max-width: 546px;
    margin: 0 auto;
  }
  &__descr {
    padding-top: 20px;
    max-width: 621px;
    margin: 0 auto;
  }
  &__discount {
    color: $color-dark-red;
    font-weight: 600;
  }
}

.timer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid $color-dark-red;
    width: 100px;
    height: 100px;

    span {
      font: 700 50px/26px $font-primary;
      color: $color-dark-red;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  &__dialog {
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: $color-neutral;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      color: $color-black;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 24px;
  }
  &__field {
    width: 100%;
    padding: 18px 24px;
    border-radius: 100px;
    outline: 1px solid $color-neutral;
    border: transparent;
  }
  &__field:nth-child(1) {
    margin-top: 24px;
  }
  &__field:nth-child(2) {
    margin: 24px 0;
  }
  &__field:focus {
    outline: 1px solid $color-dark-red;
  }
  &__btn {
    width: 100%;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}