//Fonts
$font-secondary: "DM Sans", sans-serif;
$font-primary: "Playfair Display", serif;

//Color
$color-title: #2c2f24;
$color-neutral: #dbdfd0;
$color-dark-red: #ad343e;
$color-white: #ffffff;

//Text
h2 {
  font: 400 100px/96px $font-primary;
  color: $color-title;
  @media (max-width: 991.98px) {
    font: 400 70px/66px $font-primary;
  }
}

h5 {
  font: 700 20px/26px $font-secondary;
  color: $color-title;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/24px $font-secondary;
  color: #414536;
}

.container {
  max-width: 1296px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  @media (max-width: 1449.98px) {
    max-width: 1200px;
  }
  @media (max-width: 1193.98px) {
    max-width: 1200px;
  }

  @media (max-width: 991.98px) {
    max-width: 970px;
  }

  @media (max-width: 767.98px) {
    max-width: 740px;
  }

  @media (max-width: 479.98px) {
    max-width: none;
  }
}

.menu {
  &__top {
    text-align: center;
    margin-bottom: 88px;
    @media (max-width: 991.98px) {
      margin-bottom: 30px;
    }

  }
  &__descr {
    padding: 20px 0 50px;
    max-width: 557px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 991.98px) {
      padding: 20px 0 30px;
    }
    @media (max-width: 767.98px) {
      // max-width: 100%;
    }
  }
  .tabheaders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .tabheader {
    padding: 12px 38px;
    font: 700 16px/24px $font-secondary;
    border: 1px solid $color-neutral;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      opacity: .7;
    }
    @media (max-width: 991.98px) {

    }
  }
  .tabs-container {
    display: grid;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @media (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 479.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .tabcontent {
    max-width: 360px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: 1px solid $color-neutral;
    border-radius: 12px;
    @media (max-width: 479.98px) {
      max-width: 100%;

    }
    &__container {
      padding: 30px;
      @media (max-width: 991.98px) {
        padding: 12px;
      }
    }
    &__img {
      max-width: 100%;
      width: 100%;
    }
    &__price {
      font: 700 20px/24px $font-secondary;
      color: $color-dark-red;
    }
    &__title {
      padding: 15px 0;
    }
  }
  .active--tabheader {
    background-color: $color-dark-red;
    color: $color-white;
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}

