h1 {
  font: 400 100px/96px "Playfair Display", serif;
  color: #2c2f24;
}

h2 {
  font: 400 55px/60.5px "Playfair Display", serif;
  color: #2c2f24;
}

h4 {
  font: 400 32px/44px "Playfair Display", serif;
  color: #2c2f24;
}

h5 {
  font: 700 20px/26px "DM Sans", sans-serif;
  color: #2c2f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/24px "DM Sans", sans-serif;
  color: #414536;
}

.container {
  max-width: 1296px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1193.98px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

.btn {
  padding: 20px 32px;
  font: 700 16px/24px "DM Sans", sans-serif;
  color: #ffffff;
  background-color: #ad343e;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn__outline {
  font: 700 16px/24px "DM Sans", sans-serif;
  color: #182226;
  background-color: transparent;
  border: 1px solid #182226;
}

.header {
  background-color: #ffffff;
}
.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu {
  display: flex;
  gap: 30px;
}
.menu__item {
  display: flex;
  position: relative;
}
.menu__item-link {
  font: 400 16px/24px "DM Sans", sans-serif;
  color: #182226;
  display: flex;
  position: relative;
  transition: 0.5s color;
  text-decoration: none;
}
.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  background: #131418;
  height: 1px;
  width: 100%;
  transform: scale(0);
  transition: 0.5s transform;
  display: none;
}
.menu__item-link:hover {
  color: #131418;
}
.menu__item-link:hover:after {
  transform: scale(1);
}
@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #dbdfd0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }
  .menu.active {
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: fade 0.1s linear;
  }
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
  border: none;
}
@media screen and (max-width: 991.98px) {
  .burger {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }
  .burger.active:before {
    background: #182226;
    transform: rotate(45deg);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }
  .burger.active:after {
    background: #182226;
    transform: rotate(-45deg);
    bottom: 10px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #182226;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger:before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #182226;
    height: 2px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

#progressBar {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  width: 0;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
}

.hero {
  background: url(/images/hero-bg.jpg) center/cover no-repeat;
  height: 800px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 650px;
  height: 100%;
}
.hero__descr {
  padding: 30px 0 40px;
  max-width: 418px;
}
.hero__btns {
  display: flex;
  gap: 16px;
}

.products {
  margin: 100px auto;
}
.products__top {
  text-align: center;
  margin-bottom: 88px;
}
@media (max-width: 991.98px) {
  .products__top {
    margin-bottom: 30px;
  }
}
.products__descr {
  padding: 20px 0 50px;
  max-width: 557px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 991.98px) {
  .products__descr {
    padding: 20px 0 30px;
  }
}
.products .tabheaders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.products .tabheader {
  padding: 12px 38px;
  font: 700 16px/24px "DM Sans", sans-serif;
  border: 1px solid #dbdfd0;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}
.products .tabheader:hover {
  opacity: 0.7;
}
.products .tabs-container {
  display: grid;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 991.98px) {
  .products .tabs-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .products .tabs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .products .tabs-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.products .tabcontent {
  max-width: 360px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border: 1px solid #dbdfd0;
  border-radius: 12px;
}
@media (max-width: 479.98px) {
  .products .tabcontent {
    max-width: 100%;
  }
}
.products .tabcontent__container {
  padding: 30px;
}
@media (max-width: 991.98px) {
  .products .tabcontent__container {
    padding: 12px;
  }
}
.products .tabcontent__img {
  max-width: 100%;
  width: 100%;
}
.products .tabcontent__price {
  font: 700 20px/24px "DM Sans", sans-serif;
  color: #ad343e;
}
.products .tabcontent__title {
  padding: 15px 0;
}
.products .active--tabheader {
  background-color: #ad343e;
  color: #ffffff;
}

.promotion {
  background-color: #f9f9f7;
  margin: 100px auto;
  padding: 120px 0;
  text-align: center;
}
.promotion__title {
  max-width: 546px;
  margin: 0 auto;
}
.promotion__descr {
  padding-top: 20px;
  max-width: 621px;
  margin: 0 auto;
}
.promotion__discount {
  color: #ad343e;
  font-weight: 600;
}

.timer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.timer__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid #ad343e;
  width: 100px;
  height: 100px;
}
.timer__block span {
  font: 700 50px/26px "Playfair Display", serif;
  color: #ad343e;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  color: #dbdfd0;
  cursor: pointer;
  transition: 0.2s ease;
}
.modal__close:hover {
  color: #182226;
}
.modal .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 24px;
}
.modal__field {
  width: 100%;
  padding: 18px 24px;
  border-radius: 100px;
  outline: 1px solid #dbdfd0;
  border: transparent;
}
.modal__field:nth-child(1) {
  margin-top: 24px;
}
.modal__field:nth-child(2) {
  margin: 24px 0;
}
.modal__field:focus {
  outline: 1px solid #ad343e;
}
.modal__btn {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
